program: /sps/t2k/eleblevec/updated_watchmal/launch/wandb_scripts/e_energy_tiny_models_v002/run_caverns.sh

method: random

metric:
  name: best_val_epoch_loss
  goal: minimize

parameters:

  # /data/dataset

  # /data/transforms

  # /model
  model-dropout: 
    values: [0., 0.1]
  model-conv_in_channels:
    values : [[8], [8, 16], [8, 32], [8, 8, 16], [8, 16, 16]]
  model-linear_out_features:
    values: [[8, 1], [8, 8, 1], [16, 16, 1], [32, 16, 1]]

  # /optimizers
  tasks-train-optimizers-lr: 
    values: [!!float 5e-4, !!float 1e-4]
  
  # /tasks/train
  tasks-train-epochs:
    value: 500
  tasks-train-val_interval:
    value: 60
  tasks-train-data_loaders-train-batch_size: 
    values: [350, 400, 500]


command:
 - /usr/bin/bash
 - ${program}